{% include "gridApp/menuDisplay.html" %}

<title>OTGSF: About</title>

<h1 style="text-align:center">About Off the Grid SF Search</h1>
<p style="font-size:20px;line-height:200%">The purpose of this web application is to facilitate the searching of food
    trucks and vendors in<br>San Francisco. Inspired by an interview test for an internship, this application uses data
    from<br>Off the Grid SF <b>(OTGSF)</b> via the Facebook API to allow users to look up various trucks and<br>vendors, monitor
    their recent activity, and find events that they will be catering in the near future.<br>To learn more about Off the
    Grid SF, visit our Facebook page <a class="menuOption" href="https://www.facebook.com/OffTheGridSF" target="_blank">
        here</a> or our Twitter page <a class="menuOption" href="https://twitter.com/otgsf" target="_blank">here</a>.<br>
    Otherwise, we hope you enjoy using the website!</p>
