{% include "gridApp/menuDisplay.html" %}

<title>OTGSF: About</title>

<h1>About Off the Grid SF Search</h1>
<p>The purpose of this web application is to facilitate the searching of food trucks and vendors in
San Francisco. Inspired by an interview test for an internship, this application uses data from Off
the Grid SF via the Facebook API to allow users to look up various trucks and vendors, monitor their
recent activity, and find events that they will be catering in the near future. To learn more about
Off the Grid SF, visit our Facebook page <a href="https://www.facebook.com/OffTheGridSF"target="_blank">
here</a> or our Twitter page <a href="https://twitter.com/otgsf" target="_blank">here</a>. Otherwise,
we hope you enjoy using the application!</p>