{% include "gridApp/menuDisplay.html" %}
{% load staticfiles %}

<title>OTGSF: Upcoming Events</title>

<h3>Upcoming Events</h3>
{% if upcomingEvents %}
	<p>Below is the list of upcoming events. If you want to learn more about an event, click the name.</p>
	<ol>
		{% for upcomingEvent in upcomingEvents %}
			<li><a href="{% url 'gridApp:eventVendors' upcomingEvent.id %}">
			{{ upcomingEvent.event_name }}</a></li>
		{% endfor %}
	</ol>
{% else %}
	<p>There are no upcoming events.</p>
{% endif %}
