{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, inital-scale=1" />
    <meta name="description" content="Website for all OTGSF Events" />
    <link rel="shortcut icon" href="/static/images/OTGSFlogo.ico" />
    <link rel="stylesheet" type="text/css" href="{%  static 'gridApp/style.css' %}" />
</head>
<body>
<h1 style="text-align:center">Off the Grid SF Search</h1>
<h2 style="text-align:center">Your Source for Food Trucks and Vendors in San Francisco</h2>

<div style="text-align:center">
<a href="{% url 'gridApp:home' %}" style="padding-right:5em;">Home</a>
<a href="{% url 'gridApp:about' %}" style="padding-right:5em;">About</a>
<a href="{% url 'gridApp:eventsAll' %}" style="padding-right:5em;">Upcoming Events</a>
<a href="{% url 'gridApp:vendorsAll' %}" style="padding-right:5em;">Available Trucks and Vendors</a>
<a href="https://www.facebook.com/OffTheGridSF" style="padding-right:5em;" target="_blank">Our Facebook Page</a>
<a href="https://twitter.com/otgsf" target="_blank">Check Us Out on Twitter!</a>
</div>

<hr>
</body>
</html>
